{% extends 'base.html' %}

{% block content %}
<div class="row medium-margin-top">
    <div class="col-md-12">
        <ul class="navbar-nav">
            {% for project in projects %}
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_{{project.id}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ project.title }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown_{{project.id}}">
                        <a class="dropdown-item" href="{{ project.get_absolute_url }}">Detail Project</a>  
                        <a class="dropdown-item" href="{{ project.get_update_url }}">Update Project</a>  
                    </div>
                    <div class="dropdown-divider"></div>
            </li>
            {% endfor %}

        </ul>
    </div>
</div>
{% endblock %}